<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MedBlocks</title>
</head>
<body>
    <div id="registration">
    <h1>Add user</h1>
    Name:
    <input type="text" v-model="user.name"><br>
    Phone:
    <input type="text" v-model="user.phone"><br>
    RSA:
    <textarea v-model="user.rsa"></textarea>
    <button v-on:click="generateRSA">Generate RSA</button><br>
    <button v-on:click="register">Register</button>
    </div> 
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var registration = new Vue({
            el: '#registration',
            data: {
                user: {name:'', phone:'', rsa:''}
            },
            created () {
                
            },
            methods: {
                generateRSA : function() {
                    //let usr = this.user;
                    window.crypto.subtle.generateKey(
                        {
                            name: "RSA-OAEP",
                            modulusLength: 2048, //can be 1024, 2048, or 4096
                            publicExponent: new Uint8Array([0x01, 0x00, 0x01]),
                            hash: {name: "SHA-256"}, //can be "SHA-1", "SHA-256", "SHA-384", or "SHA-512"
                        },
                        false, //whether the key is extractable (i.e. can be used in exportKey)
                        ["encrypt", "decrypt"] //must be ["encrypt", "decrypt"] or ["wrapKey", "unwrapKey"]
                    )
                    .then(key => window.crypto.subtle.exportKey("jwk", key.publicKey))
                    .then(key => {
                        this.user.rsa = key.n;
                    })
                    .catch(function(err){
                        console.error(err);
                    });
                },
                register: function() {
                    console.log(this.user)

                }

            }
        })
    </script>
</body>
</html>