<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MedBlocks</title>
</head>
<body>
    <div id="registration">
    <h1>Sign Up</h1>
    Name:
    <input type="text" v-model="user.name"><br>
    Phone:
    <input type="text" v-model="user.phone"><br>
    Password:
    <input type="text" v-model="user.password"><br>
    RSA:
    <textarea v-model="user.rsa"></textarea>
    <button v-on:click="generateRSA">Generate RSA</button><br>
    <button v-on:click="register">Register</button>
    </div> 
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="//cdn.jsdelivr.net/npm/pouchdb@7.0.0/dist/pouchdb.min.js"></script>
	<script src="pouchdb.authentication.min.js"></script>
    <script src="app.js"></script>
</body>
</html>